h1 {
    color: darkorange;
    font-size: 2em;
    text-align: center;
    background-color: #080808B8;
    padding: 2.5em;
    border-bottom: 0.1em solid darkorange;
}
h2 {
    color: black;
    font-size: 1.8em;
    margin-top: 20px;

}
p {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 0.1em;
}
div {
    text-align: center;
    background-color: #080808B8;
    padding: 2.5em;

}